---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Listen',
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <Hero
    tagline="Listen"
  >
    <Fragment slot="title">
      WE GOT THE 
      <span class="text-accent"> FUNK</span>
    </Fragment>

    <Fragment slot="subtitle">
     Funking up the midwest since 2017. <br> We play on the streets, we play for treats, and we play for keeps! </br> 
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%] mt-4 mb-4">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/lI7oRzeqMPk"
          title="Doglava Sunday Sounds"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
    
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/fmC5DdRAOco?si=veT6D_U2WRWEdMDT"
          title="Doglava Sunday Sounds"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
   
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Listens', amount: '420K' },
      { title: 'Follows', amount: '69K' },
      { title: 'Fans', amount: 'Like 13' },
      { title: 'Earnings', amount: 'LOL' },
    ]}
  />
    <Testimonials
    title="Fan(tastic) Reviews"
    subtitle="We probably didn't even pay these people!"
    testimonials={[
      {
        testimonial: `They are supreme pieces of shit. They usually spend more on booze than we pay them. Highly recommend!`,
        name: 'Kilroy',
        job: "Nice Guy",
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Kilroy Image',
        },
      },
      {
        testimonial: `I actually loved Chase before he shaved his head. Their music is ok too. I actually prefer Taylor Swift or Country, TBH.`,
        name: 'Katie',
        job: "Guitar Player's Husband",
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Katie Image',
        },
      },
      {
        testimonial: `Never knew how much I liked bad music until I saw Doglava playing during First Fridays. They were literally playing terrible funk music from a rooftop. Like, WTF!?!`,
        name: 'Laura',
        job: 'Business Owner',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Image',
        },
      },
      {
        testimonial: `I don't know what to say. I'm just here so I don't get fined.`,
        name: 'Marshawn',
        job: 'Beast Mode',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Marshawn Image',
        },
      },
      {
        testimonial: `They played at my wedding. I got so drunk, I don't even remember how they sounded. They at least looked pretty. I think.`,
        name: 'Maddie',
        job: 'Bridezilla',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Maddie Image',
        },
      },
      {
        testimonial: `They play some mean Funk. I just really hope they can avoid the Jazz influence from their horn section. Shit is insufferable.`,
        name: 'Tim',
        job: 'Comedian',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Tim Image',
        },
      },
    ]}
  />
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book Today',
        href: 'mailto:booking@doglava.com?subject=Booking%20Request',
        target: '_blank',
        icon: 'tabler:book',
      },
    ]}
  >
    <Fragment slot="title">
      Doglava needs pets!
    </Fragment>

    <Fragment slot="subtitle">
     Support struggling musicians. Dogs gotta eat!
    </Fragment>
  </CallToAction>
</Layout>
