@tailwind base;
@tailwind components;
@tailwind utilities;
/* Defining utility classes for background and text colors */
@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}
/* Defining component classes for buttons */
@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-white border-primary hover:bg-secondary hover:border-secondary hover:text-white dark:text-white dark:bg-primary dark:border-primary dark:hover:border-secondary dark:hover:bg-secondary;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }
}

/* Applying styles to the first child div of the #header element when it has the .scroll class */
#header.scroll > div:first-child {
  @apply bg-page md:bg-white/90 md:backdrop-blur-md;
  box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
  box-shadow: none;
}


/* #header.scroll > div:last-child {
  @apply py-3;
} */
/* Applying styles to the nav element of the #header element when it has the .expanded class */
#header.expanded nav {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}
/* Making the .dropdown-menu visible when hovering over the .dropdown */
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}

/* from components.css */
.container {
    max-width: 100%;
}

/* Unique Lightbox styles */
.w-lightbox-strip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1vh;
    line-height: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
/* Adding unique spinner animation from components.css */
.w-lightbox-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    margin: auto;
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.guitarlogo {
  position: relative;
  z-index: 5;
  mix-blend-mode: overlay;
}
.splashbutton {
  position: relative;
  pointer-events: all;
  z-index: 30;
  mix-blend-mode: overlay;
}

.div-block-2 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.homecontainer {
  position: fixed;
  z-index: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  opacity: 0.95;
  mix-blend-mode: luminosity;
}

.homecontainer.inverse {
  overflow: hidden;
  opacity: 0.9;
  mix-blend-mode: normal;
}



.startframe {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100vh;
}

.startframe.hidden {
  width: 0%;
  height: 0vh;
}

.startframe.hiddenframe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0%;
  height: 0vh;
}


.cursor {
  position: absolute;
  z-index: 30;
  display: block;
  width: 1.25vw;
  height: 1.25vw;
  border: 1px none #000;
  border-radius: 100%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff, hsla(0, 0%, 100%, 0));
  outline-color: #7e7e7e;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 0.1px;
  -webkit-transition: width 200ms ease, height 200ms ease, opacity 200ms ease;
  transition: width 200ms ease, height 200ms ease, opacity 200ms ease;
}

.cursor.cursor-x {
  width: 5vw;
  height: 5vw;
  border-width: 3px;
  border-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.09);
}

.cursor.cursor-hover {
  width: 2vw;
  height: 2vw;
} 

.cursor.cursor-drag {
  display: block;
  width: 2vw;
  height: 2vw;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: cover;
  opacity: 1;
  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 1px;
}

.cursor.cursor-drag.mobilehide {
  display: none;
}


html.w-mod-touch * {
  background-attachment: scroll !important;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

